body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  .student-id-card {
    position: absolute;
    width: 400px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .student-details {
    display: flex;
    align-items: center;
  }
  
  .student-details img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .student-name h2 {
    margin: 0;
    text-align: center;
  }
  
  .user-information {
    margin-top: 20px;
  }
  
  .user-information h3 {
    margin-bottom: 10px;
  }
  
  .user-information ul {
    list-style: none;
    padding: 0;
  }
  
  .user-information li {
    margin-bottom: 5px;
    font-weight: bold;
  }